<div class="page-container">

  <div class="admin-actions" *ngIf="isAdmin">
    <a routerLink="/criar-evento" class="btn-primary">Cadastrar Novo Evento</a>
  </div>

  <section class="featured-banner" *ngIf="eventoDestaque">
    <div class="banner-text-box">
      <h2>{{ eventoDestaque.nomeEvento }}</h2>
      <p>{{ eventoDestaque.descricao }}</p>
      <button 
      class="btn-primary" 
      [class.disabled]="isRegistered(eventoDestaque.id)"
      [disabled]="isRegistered(eventoDestaque.id)"
      (click)="inscrever(eventoDestaque)"> 
      {{ isRegistered(eventoDestaque.id) ? 'Inscrito' : 'Inscreva-se' }}
    </button>
    </div>
  </section>

  <section class="carousel-section">
    <div class="section-header">
      <div>
        <h3>Participe dos melhores eventos</h3>
        <p>Mostrando os próximos eventos disponíveis.</p>
      </div>
      <a routerLink="/eventos" class="btn-secondary">Ver todos os eventos</a>
    </div>

    <div class="carousel-wrapper">
      <button class="nav-button prev-button" (click)="scroll('left')">&#10094;</button>

      <div class="carousel-content" #carouselContent>
        <div class="event-card" *ngFor="let evento of eventos">
          
        <div class="card-link" (click)="openTalksModal(evento)">
          <div class="card-image-wrapper">
            <img src="..." [alt]="evento.nomeEvento">
          </div>
          <div class="card-info">
            <h4>{{ evento.nomeEvento }}</h4>
            <p class="location">{{ evento.local }}</p>
          </div>
        </div>
        <div class="card-footer">
      <button 
    class="btn-subscribe" 
    [class.disabled]="isRegistered(evento.id)" 
    [disabled]="isRegistered(evento.id)"
    (click)="inscrever(evento)"> 
    {{ isRegistered(evento.id) ? 'Inscrito' : 'Inscreva-se' }}
  </button>
</div>
      </div>
      </div>

      <button class="nav-button next-button" (click)="scroll('right')">&#10095;</button>
    </div>
  </section>

  <app-talks-modal [evento]="selectedEventForModal" (closeModal)="closeTalksModal()"></app-talks-modal>
  
</div>