body, html {
  margin: 0;
  padding: 0;
  /* MUDANÇA AQUI */
  font-family: 'Poppins', sans-serif; 
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #333;
}

a {
  text-decoration: none;
}